[submodule "microservicio1"]
	path = microservicio1
	url = https://github.com/chavmath/microservicio1.git
[submodule "microservicio2"]
	path = microservicio2
	url = https://github.com/chavmath/microservicio2.git
